<div class="relative group hover:overflow-visible overflow-hidden">
  <div [routerLink]="['/product',product.id]" class="product-card ">
    <div class="overflow-hidden  dark:bg-white dark:rounded-t-md">
      <img class="product-cover" [src]="product.image" alt="product image" />
    </div>
    <div class="px-5 pb-5">

      <h5 class="product-title">
        {{product.title}}
      </h5>

      <div class="flex items-center mt-2.5 mb-5">
        <div class="flex items-center space-x-1 rtl:space-x-reverse">
          <ngx-stars [customPadding]="'12px'" [customSize]="'20px'" [readonly]="true" [color]="'gold'"
            [initialStars]="product.rating.rate">
          </ngx-stars>


        </div>
        <span class="product-rating">
          {{product.rating.rate}}
        </span>
      </div>
      <div class="flex items-center justify-between">
        <span class="text-2xl font-bold text-gray-900 dark:text-white">
          {{product.price| currency:'GBP'}}
        </span>
        <span class="product-cat">
          {{product.category}}
        </span>

      </div>
    </div>

  </div>
  <i (click)="addToCart()"
    class="fa-solid fa-cart-plus cursor-pointer transition-all duration-300 group-hover:right-5 group-hover:opacity-100 -right-5 opacity-0  top-5  text-4xl absolute"></i>

</div>
