@if(cartProducts().length != 0) {
  <section class="py-24 relative bg-white dark:bg-gray-900 transition-colors duration-300">
    <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">

      <h2 class="title cart-title ">
        Shopping Cart
      </h2>

       @for (item of cartProducts(); track item.product.id) {

        <app-cart-item [item]="item"  ></app-cart-item>

       }

      <div
        class="cart-total">
        <h5
          class="cart-total-head font-manrope">
          total</h5>
        <div class="flex items-center justify-between gap-5">

          <h6 class="font-manrope cart-total-value">{{cartTotal() | currency : 'GBP'}}</h6>
        </div>
      </div>

      <div class="max-lg:max-w-lg max-lg:mx-auto">

        <button
          class="checkout">
          Checkout
        </button>
      </div>

    </div>
  </section>
}@else {
  <app-empty-cart></app-empty-cart>
}
