<section class="py-20 px-6">
  <div class="mx-auto ">
    @if (errorMsg) {
    <app-fallback-ui [errorMsg]="errorMsg" ></app-fallback-ui>
    }@else {

      <div class="grid grid-cols-12 gap-4" >
        <div class="lg:col-span-3 col-span-12" >
          <form>
            <div class="relative">
              <label for="default-search" class="font-bold capitalize tracking-wider dark:text-white mb-5">Filter by Product title</label>

              <input [(ngModel)]="searchWord" type="search" id="default-search"
                class="block w-full placeholder:capitalize p-3 ps-4 mt-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search product title ... " name="search" required />


            </div>
          </form>
          <app-sort-options></app-sort-options>
        </div>

        <div class="grid lg:col-span-9 col-span-12  grid-cols-12 gap-5">

          @for (product of products | search : searchWord; track product.id) {
          <div class="col-span-12 md:col-span-6 lg:col-span-4">
            <app-product-card [product]="product" (addProdToCart)="addToCart($event)" />
          </div>
          }@empty {

            <div class="col-span-12">
              <div
                class="flex max-w-xl mx-auto justify-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                role="alert">

                <span class="sr-only">Info</span>
                <div class="text-2xl capitalize text-center">
                  No products found with the given search word.
                </div>
              </div>
            </div>



          }

        </div>
      </div>
    }
  </div>
</section>
