<div class="sortByNameOrPrice mt-10">
  <div (click)="isDropped = !isDropped" class="sort-dropdown flex cursor-pointer items-center justify-between mb-6">
    <h2 class="font-bold capitalize tracking-wider  dark:text-white">sort by title or price</h2>
    <i [class]="{
      'fa-plus':!isDropped,
      'fa-minus':isDropped
    }" class="fa-solid text-2xl dark:text-white"></i>
  </div>
  <div [class]="{
          'flex':isDropped,
          'hidden':!isDropped,
        }" class="items-center mb-4">

              <input (change)="clearSort()" id="clearSort" checked type="radio" name="sortOption"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="clearSort"
                class="ms-2  capitalize font-semibold text-md  text-gray-900 dark:text-gray-300">Not Sorted</label>

  </div>
    @for (option of sortOptions; track option.id) {

      <div [class]="{
        'flex':isDropped,
        'hidden':!isDropped,
      }" class="items-center mb-4">
        <input
        (change)="onSortChange(option)"
         [id]="option.id"
         [checked]="option.checked"
          type="radio"
          name="sortOption"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label [for]="option.id" class="ms-2  capitalize font-semibold text-md  text-gray-900 dark:text-gray-300">{{option.label}}</label>
      </div>
    }





</div>

